apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "heal8s.fullname" . }}-config
  namespace: {{ include "heal8s.namespace" . }}
  labels:
    {{- include "heal8s.labels" . | nindent 4 }}
data:
  config.yaml: |
    alertRouting:
    {{- range $alertName, $config := .Values.alertRouting }}
      {{ $alertName }}:
        action: {{ $config.action }}
        params:
        {{- range $key, $value := $config.params }}
          {{ $key }}: {{ $value | quote }}
        {{- end }}
    {{- end }}
